.category {
  &Field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.translationBtn {
  right: 10px;
}

.playSoundBtn {
  left: 10px;
}

.translationBtn, .playSoundBtn {
  position: absolute;
  bottom: 10px;
  z-index: 99;
}

.translation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;

  &Active {
    visibility: visible;
    opacity: 1;
  }
}

.cardWrapper {
  position: relative;
}