.category {
  &Field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 85%;
  }
}

@media (max-width: 1440px) {
  .category {
    &Field {
      height: 80%;
    }
  }
}

@media (max-width: 1200px) {
  .categoryField {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .categoryField {
    grid-template-columns: repeat(2, 1fr);
  }
}

.star {
  width: 3rem;
}

@media (max-width: 768px) {
  .star {
    width: 2rem;
  }
}

.translationBtn {
  right: 0.6rem;
}

.playSoundBtn {
  left: 0.6rem;
}

.buttonImages {
  width: 20px;
  transition: .2s;
  cursor: pointer;
}

.translationBtn, .playSoundBtn {
  position: absolute;
  bottom: 0.4em;
  z-index: 9;
  background-color: transparent;

  &:hover > .buttonImages {
    filter: brightness(0.77)
  }

}

.translationBtn {
  bottom: 0.3em;
}

.translation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #fff;
}

.cardWrapper {
  position: relative;
  height: 100%;

  &Guessed {
    pointer-events: none;
    filter: brightness(0.7);
  }
}

@media (max-width: 1200px) {
  .cardWrapper {
    &Guessed {
      height: 10rem;
    }
  }
}

@media (max-width: 992px) {
  .cardWrapper {
    height: 10rem;
  }
}

.cardContainer {
  position: relative;
  perspective: 1000px;
  height: 100%;

  &Rotated {
    .cardFront {
      transform: rotateY(180deg);
    }

    .cardBack {
      transform: rotateY(360deg);
    }
  }
}

.cardBack, .cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.repeatWord, .startGame {
  position: fixed;
  cursor: pointer;
  right: 0;
  top: 50%;
  background-color: #208dbf;
  box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.34) inset;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #fff;
  padding: 10px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s;
  transform: translate(-30%, -50%);
  z-index: 101;

  &:hover {
    background-color: #1c98ce;
  }

  &:active {
    background-color: #1289bd;
  }
}

.startGame {
  animation: showMenu 0.7s ease;
}

@media (max-width: 992px) {
  .repeatWord, .startGame {
    height: 70px;
    width: 70px;
    font-size: 13px;
    top: 93%;
  }
}

@keyframes showMenu {
  0% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(-30%, -50%);
  }
}

@media (max-width: 992px) {
  @keyframes showMenu {
    0% {
      transform: translate(100%, -50%);
    }

    100% {
      transform: translate(-30%, -50%);
    }
  }
}