.category {
  &Field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.translationBtn {
  right: 10px;
}

.playSoundBtn {
  left: 10px;
}

.translationBtn, .playSoundBtn {
  position: absolute;
  bottom: 10px;
  z-index: 99;
}

.translation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #fff;
}

.cardWrapper {
  position: relative;

  &Guessed {
    pointer-events: none;
    filter: brightness(0.7);
  }
}

.cardContainer {
  position: relative;
  perspective: 1000px;
  height: 14em; // TODO: ss

  &Rotated {
    .cardFront {
      transform: rotateY(180deg);
    }

    .cardBack {
      transform: rotateY(360deg);
    }
  }
}

.cardBack, .cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.cardFront {
}

