@import "../../../../shared/stylesVariables.scss";

.buttonsWrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;

  .button {
    font-size: 1.125rem;
    font-weight: 700;
    background-color: #208dbf;
    color: #fff;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    height: 2rem;
    padding: 0 0.85rem;
    line-height: 1.85rem;

    @extend %ButtonBasicStyles;

    &:hover {
      background-color: #16a1de;
    }

    &:active {
      background-color: #188dc1;
    }
  }
}
