@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Gochi Hand', cursive;
}

.app-content {
    max-width: 1800px;
    padding: 0 220px;
}

h1, h2, h3, h4, h5, h6, ul, li, p, span, button, a, input, div {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}