.header {
  position: relative;
  max-width: 1800px;
  padding: 0.5em 14em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c98ce;
  height: 80px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-color: #105474;
  }
}

@media (max-width: 1440px) {
  .header {
    height: 50px;
  }
}