@import "../../../../shared/stylesVariables.scss";

.nav {
  &Menu {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: $dark-gray-color;
    padding: 1.7rem;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 99;
    transform: translate(0, -50%);
    transition: .4s;
    height: 75%;

    &List {
      overflow-y: scroll;
      overflow-x: clip;
      height: 100%;
      padding-right: 2.4rem;
    }

    &Hidden {
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }

  &Item {
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: .2s;
    display: block;
    position: relative;
    margin-bottom: 6px;
    text-transform: capitalize;

    &Icon {
      position: relative;
      transition: .2s;
      width: 2rem;
      margin-left: 1em;
    }

    &Active, &:hover {
      color: #208dbf;
      transform: translateX(0.3em);
      text-shadow: 0 3px 10px rgba(25, 171, 241, 0.5);
    }

    &Active {
      pointer-events: none;

      &::before {
        content: '';
        background-color: rgba(#208dbf, 0.32);
        position: absolute;
        left: -3em;
        top: 0;
        bottom: 0;
        right: -1.75em;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    &Item {
      font-size: 18px;

      &Active {
        &::before {
          left: -3.4em;
          right: -2.4em;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .nav {
    &Item {
      font-size: 16px;

      &Active {
        &::before {
          right: -2.7em;
        }
      }
    }
  }
}
