.cardsField {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  height: 85%;
}

@media (max-width: 1440px) {
  .cardsField {
    height: 80%;
  }
}

@media (max-width: 1200px) {
  .cardsField {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cardsField {
    grid-template-columns: repeat(2, 1fr);
  }
}
